= form_for @art do |f|
  -if @art.errors.any?
    #error_explanation
      %h2= "#{pluralize(@art.errors.count, "error")} prohibited this art from being saved:"
      %ul
        - @art.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr
      %th= f.label :main_image
      %td
        = f.fields_for :image do |image_fields|
          = image_fields.file_field :image
    %tr
      %th= f.label :details
      %td
        = f.fields_for :details do |details_fields|
          = details_fields.file_field :image
    %tr
      %th= f.label :details
      %td
        = f.fields_for :details do |details_fields|
          = details_fields.file_field :image
    %tr
      %th
      %td.submit= f.submit 'Save'
